POSTGRES_DB=gardenerd
POSTGRES_USER=gardenerd
POSTGRES_PASSWORD=change-this-password

DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,192.168.1.50
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://192.168.1.50:3000

FRONTEND_PORT=3000
